*{
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}
body{
  font-family: sans-serif;
  background-color: #fbfcfd;
  margin: 0;
	color: #102445;
}
h2{
  margin-bottom: 30px;
}

h5{
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.21;
  margin: 0;
}
a{
  line-height: 1.38;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #102445;
}


a:hover{
	color: #1db598;
}

textarea{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #fbfcfd;
  border: solid 1.5px #e4eff4;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.1px;
  outline: none;
  padding: 30px;
}


select{
  /*-webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("img/chevron-down.png") no-repeat calc(100% - 10px) !important;*/
  border-radius: 3px;
  background-color: #fbfcfd;
  width: 187px;
  height: 50px;
  border: solid 1.5px #e4eff4;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.39;
  letter-spacing: 0.2px;
  color: #102445;
  padding: 10.5px;

}

button{
  width: 165px;
	height: 50px;
	border-radius: 3px;
	background-color: #1db598;
  outline: none;
  border: none;
  font-size: 16px;
  color: white;
}

em{
  font-style: normal;
  opacity: 0.5;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.2px;
	color: #102445;
}

.header{
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.container{
  display: flex;
  height:100%;
  min-height: 100vh;
}
.nav{
  color: white;
  display: flex;
  flex-direction: column;
  width: 150px;
  background: #3c5f8d;
}

.nav-item{
  height:150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 3px solid #2a4871;
  cursor: pointer;
}

.nav-active{
  background: #f2f7f9;
  font-weight: bold;
  color: #1db598;
}

.nav-item > .nav-image {
  display: flex;
}

.nav-item > .nav-image-active {
  display: none;
}

.nav-active > .nav-image {
  display: none;
}

.nav-active > .nav-image-active {
  display: flex;
}


.interface{
  display: none;
  flex: 1;
  flex-direction: column;
  align-items: center;
  background: #f2f7f9;
}

.interface-active{
  display: flex;
}

.query{
    margin-bottom: 30px;
}
.query,
.output-container,
.status-container{
  width: 75%;
}

.output{
  margin-bottom: 30px;
}

.input-controls{
  display: flex;
  justify-content: flex-end;
}

.tabs{
  display: flex;
  background: #eaf2f6;
}
.active-tab{
  background: white;
  font-weight: bold;
  color: #1db598;

}

.tab{
  height:60px;
  width: 100px;
  border-top-right-radius:  5px;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  cursor: pointer;

}

.pane{
  background: white;
  padding: 30px;
  display: none;
}

.active{
  display: block;
}

.result-io-header{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.result-input,
.result-output,
.result-error{
  height: 60px;
  border-radius: 2px;
  background-color: #fafafa;
  border: solid 1.5px #e4eff4;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.1px;
  color: #102445;
  padding: 15px;
  margin-bottom: 15px;
  word-break: break-all;
  overflow-wrap: break-word;
  overflow:hidden;
}


.result-output{
  background-color: #edf9f7;
  border-left: solid 4px #1db598;
}

.result-error{
  background-color: #fbf1f0;
  border-left: solid 4px #fa3035;
  color: #fa3035;
}

.raw{
  height: 253px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.result-table > table {
  border-left: solid 4px #1db598;
}

table{
  border: solid 0.5px #e0e0e0;
  width: 100%;
  margin-bottom: 30px;
  /*color:#3c5f8d;*/
}
caption{
  text-align:left;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: 2px;
  text-align: left;
}
th{
  font-size: 14px;
  font-weight: bold;
  line-height: 1.21;
  letter-spacing: 2px;
  color: #102445;
  text-transform: uppercase;
  text-align: left;
  padding: 21px  30px;
  background-color: white;
}
tr{
  border: solid 0.5px #e0e0e0;
  background-color: white;
}
tr:nth-child(even) {
  background-color: #f2f7f9;
}
td{
  padding: 21px  30px;
}

.expand {
  text-align: center;
}

.query h2 {
  display: inline-block;
}

.query-tooltip {
  position: relative;
  display: inline;
  color: #000;
  margin-left: 5px;
}

.query-tooltip:hover {
  color: #000;
}

.query-tooltip-content {
  background-color: rgb(250, 250, 250);
  border: solid 1.5px #e4eff4;
  color: #102445;
  border-radius: 2px;
  padding: 15px;
  margin-bottom: 15px;

  position: absolute;
  left: 80px;
  top: -30px;
  z-index: 1;
}

.query-tooltip-container {
  position: relative;
  visibility: hidden;
}

.query-tooltip:hover+.query-tooltip-container{
  visibility: visible;
}

.code{
  font-family: monospace;
}

