.label {
  font-size: 0.75rem;
  color: var(--text-secondary);
  margin-bottom: 4px;
  font-weight: 400;
}

.usageBreakdown {
  display: flex;
  align-items: center;

  .usageBreakdownLabel {
    white-space: nowrap;
    margin-right: 8px;

    &.smallLabel {
      font-size: 12px;
    }
  }
}

.breakdown {
  display: flex;
  align-items: center;
  height: 13px;
  border-radius: 4px;
  background: rgba(var(--contrast-rgb), 0.1);

  .fieldKeysTotal {
    height: 13px;
    background: rgba(88, 80, 141, 0.7);
  }

  .indexKeys {
    height: 13px;
    background: rgba(255, 99, 97, 0.7);
  }

  .keys {
    height: 13px;
    background: rgba(88, 80, 141, 0.7);
  }

  .fragments {
    height: 13px;
    background: rgba(255, 166, 0, 0.7);
  }

  .metadata {
    height: 13px;
    background: rgba(188, 80, 144, 0.7);
  }

  .bar:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .bar:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
