default.etcd/
*.test
vendor
.protoc-gen-gofast
.DS_Store
build
*~
release-pilosa-fsck.*.*.tar.gz
/log.*
/tourna.log.*
pilosa
/featurebase
*.dot
.idea/
.*.swp
.terraform/
*.tfstate
launch.json
.terraform.lock.hcl
__pycache__/
report.xml
outputs.json
builds/
*.tfstate.backup
.vscode

batch/testdata/batch*.out

idk/testdata/idk*.out
idk/testenv/certs/*

# copy of .gitignore from archived idk repo
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

vendor

.terraform
terraform.tfstate*

bin
build
testenv
.pulled

pilosa-sec-data-idk

.idea/
tags.dot
*.log
*.swp
*__debug_bin

# SQL3
/sql3/sql3.html

staticcheck.conf


.quick
dax/dax-data
dax/pgdata

coverage-from-docker
*.client_id.txt

