.builderColumn,
.results {
  height: calc(100vh - 64px);
  overflow: scroll;
  position: relative;

  .openClose {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.resultsBlock {
  height: 100%;
}

.builderColumn {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.results {
  padding-bottom: 20px;
}

.resultsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .download {
    display: flex;
    align-items: center;
  }

  .downloadInfo {
    margin-right: 8px;
  }
}

.collapsedBuilder {
  border-right: 1px solid rgba(var(--contrast-rgb), 0.1);
  text-align: center;
  padding-top: 10px;
}

.builderHeader {
  padding: 32px 32px 0;
}

.builder {
  overflow-y: scroll;
  padding: 20px 32px;

  .queryMetadata,
  .tableSelector,
  .operationSelector {
    margin-bottom: 16px;
  }

  .columnsSelector {
    margin: 4px 14px;
    display: flex;
    text-align: center;

    .info {
      margin-left: 4px;
      fill: var(--text-secondary);
    }
  }

  .queryMetadata {
    border-bottom: 1px solid var(--divider);
    padding-bottom: 16px;
  }
}

.builderActions {
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;

  .mainActions {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px;
  }
}

.newGroup,
.operator {
  display: flex;
  align-items: center;
  width: 100%;

  .line {
    flex-grow: 1;
    height: 1px;
    background: var(--divider);
  }

  .addButton {
    margin: 0 8px;
  }
}

.groupBy {
  .line {
    flex-grow: 1;
    height: 1px;
    background: var(--divider);
  }

  .fieldSelector {
    margin-top: 16px;
  }

  .filterHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
  }
}

.savePopover {
  width: 300px;

  .popoverActions {
    display: flex;
  }

  .saveActions {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 8px;
    padding-top: 16px;
  }
}

.menuPaper {
  padding: 0 !important;
}

.link {
  color: var(--primary);
  font-size: 12px;

  .icon {
    margin-right: 4px;
    vertical-align: text-top;
  }

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--primary);
  }
}

.infoMessage {
  padding: 16px;
  border: 1px solid rgba(var(--primary-rgb), 0.5);
  background: rgba(var(--primary-rgb), 0.1);
  border-radius: 4px;
  margin: 4px 0 16px;
}

.resultsLoading {
  margin-left: 8px;
}

.savedQueries {
  margin-top: 48px;
}
