[Unit]
Description="Service for FeatureBase"
After=network.target

[Service]
RestartSec=30
Restart=on-failure
EnvironmentFile=
User=molecula
ExecStart=/usr/bin/featurebase server -c /etc/featurebase/featurebase.conf

[Install]
WantedBy=multi-user.target
